<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reset Password</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/new_password.css' %}">
</head>
<body>

<h2>Reset Password</h2>

<form action="password_reset_done.html" method="post">
  <div class="container">
    <label for="psw"><b>New Password</b></label>
    <input type="password" placeholder="Enter New Password" name="psw" required>

    <label for="psw-repeat"><b>Confirm New Password</b></label>
    <input type="password" placeholder="Confirm New Password" name="psw-repeat" required>

    <button type="submit">Reset Password</button>
  </div>
</form>

</body>
</html>